[submodule "Assignment2-CloudDeployment/MotoGuardian-LandingFlaskApp"]
	path = Assignment2-CloudDeployment/MotoGuardian-LandingFlaskApp
	url = https://github.com/jde0503/MotoGuardian-LandingFlaskApp.git
