[submodule "Assignment2-CloudDeployment/motoguardian-web-app"]
	path = Assignment2-CloudDeployment/motoguardian-web-app
	url = https://github.com/jde0503/motoguardian-web-app.git
[submodule "Assignment3-CompetitiveAnalysis/motoguardian-web-app"]
	path = Assignment3-CompetitiveAnalysis/motoguardian-web-app
	url = https://github.com/jde0503/motoguardian-web-app.git
[submodule "Assignment5-Accessibility/motoguardian-web-app"]
	path = Assignment5-Accessibility/motoguardian-web-app
	url = https://github.com/jde0503/motoguardian-web-app.git
